#homepage-bg {
  height: 900px;
  background: image-url('map.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homepage-text {
  background-color:rgba(255,255,255,0.7);
  padding: 10px;
  border: 2px solid black;
  border-radius: 3px;
  margin-top: 4em;
}
.instagrams {
  margin: 0px;
}

.grams-container {
  background: #aec9cc;
  border-radius: 3px;
}

.instagrams li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  margin: 10px;
  padding: 10px;
}

.modal-content {
  margin: 10px;
  padding: 10px 40px 10px 10px;
}

.modal-content li {
  list-style-type: none;
}

.hidden {
  visibility: hidden;
}

#header {
  margin: 10px;
}

.form-actions {
  background-color: transparent;
  border-top: 1px solid #e5e5e5;
  width: 15%
}
.instagrams:hover{
  border: 2px black solid;
  background-color: white;
}

.brand {
  font-family: 'Poller One', cursive;
}
.visible-xs .brand {
  font-size: 6px;
}

h1 {
  font-family: 'Poller One', cursive;
}

a {
  font-family: 'Varela Round', sans-serif;
}

th {
  text-align: left;
  padding-left: 10px;
}

td {
  padding-left: 10px;
}

.google-map {
    position: relative;
    overflow: hidden;
    margin-bottom: -15%;
    width: 100% !important;
}

.google-map img {
  width: 100%;
  opacity:0.4;
}

.navbar {
  margin-bottom: 0;
}
@media screen and (max-width: 640px) {
  .navbar .brand {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
    }
}