
.instagrams {
  margin: 0px;
}

.grams-container {
  background: #aec9cc;
  border-radius: 3px;
}
.instagrams li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  margin: 10px;
  padding: 10px;
}

.modal-content {
  margin: 10px;
  padding: 10px 40px 10px 10px;
}

.hidden {
  visibility: hidden;
}

#header {
  margin: 10px;
}

.form-actions {
  background-color: transparent;
  border-top: 1px solid #e5e5e5;
  width: 15%
}
.instagrams:hover{
  border: 2px black solid;
  background-color: white;
}

.brand {
  font-family: 'Poller One', cursive;
}

h1 {
  font-family: 'Poller One', cursive;
}

a {
  font-family: 'Varela Round', sans-serif;
}

th {
  text-align: left;
  padding-left: 10px;
}

td {
  padding-left: 10px;
}

.google-map {
    position: relative;
    overflow: hidden;
    margin-bottom: -15%;
    width: 100% !important;
}

.google-map img {
  width: 100%;
  opacity:0.4;
}